/**
 * index.scss
 * - Add any styles you want here!
 */

$color--primary: #0E8E94;
$color--accent: #FFE200;
$color--background: #161E25;


@mixin gradient {
  background-color: $color--primary;
  background: -moz-linear-gradient(-45deg, $color--primary 0%, #063e34 100%);
  background: -webkit-linear-gradient(-45deg, $color--primary 0%,#063e34 100%);
  background: linear-gradient(135deg, $color--primary 0%,#063e34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color--primary', endColorstr='#063e34',GradientType=1 );
}


@mixin gradient-2 {
  background: rgba(7,67,60,0.58);
  background: -moz-linear-gradient(-45deg, rgba(7,67,60,0.58) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(7,67,60,0.58) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(7,67,60,0.58) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07433c', endColorstr='#000000',GradientType=1 );
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $color--background;

}

* { box-sizing: border-box; }


.container {
  background-color: #0E8E94;
  margin: 0px auto;
}

.column--left {
  width: 25%;
  position: fixed;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  top:0;
  left:0;
  @include gradient;

  .location {
      padding: 15px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    color: $color--accent;
    font-weight: 700;
    margin-top: 40px;
    font-size: 14px;
    padding: 0 15px;
  }
  
  .interest {
    background-color: darken($color--primary,20%);
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
  }

  
  .icon {
    cursor: pointer;
    
    &:hover {
      color: $color--accent;
    }
  }
  
}

.button--link {
  text-decoration: underline;
  cursor: pointer;
  
  &:hover {
    color: $color--accent;
  }
}

.column--right {
  width: 75%;
  background-color: $color--background;
  padding: 15px;
  margin-left: 25%;
  
  .search {
    margin: 15px;
    border-bottom: 1px solid $color--primary;
  
    input {
      border: 0;
    }
  }
  
  .list {
   
  }
  .tile {
    margin: 15px 0 15px 15px;
    width: 250px;
    height: 250px;
    float: left;
    padding: 15px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 25% 0;

    &.skateboarding {
      background-image: url(../images/bg-skateboard.jpg);
    }

    &.diving {
      background-image: url(../images/bg-diving.jpg);
    }

    &.surfing {
      background-image: url(../images/bg-surfing.jpg);
    }

    &.hiking {
      background-image: url(../images/bg-hiking.jpeg);
    }

    &.horse-riding {
      background-image: url(../images/bg-horseriding.jpg);
    }

    &.sailing {
      background-image: url(../images/bg-sailing.jpg);
    }

    .gradient-layer {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      @include gradient-2;
    }

    .name {
      z-index: 50;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      border-top: 1px solid white;
    }

    .icon {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50px;
      left: 100px;
      background-image: url(../images/icon-hiking.png);
      background-repeat: no-repeat;
      background-size: 80px;
    }
  }
}

.logo {
  font-family: 'Baloo', cursive;
  font-size: 24px;
  color: #fff;
  margin: 15px;
  border-bottom: 1px solid $color--primary;
}

.button--huge {
  padding: 100px 15px 15px;
  background-color: darken($color--primary,20%);
  color: #fff;
  margin-top: 30px;
  position: absolute;
  bottom: 0; left: 0; right: 0;

  .count {
    font-weight: 800;
    font-size: 36px;
  }
}



